/raw
/annotations.json
/remaining.json
/removed.json
/completed.json
/corrected.json
/covered-positives.tfrecord
/full-positives.tfrecord
/corrected-full-positives.json
/corrected-full-positives.json.cf3ee62b6a40e7e059bb3aa7724cf4c3.telemetry
/corrected-full-positives.json.ead2d2a932220448737ebfea7c2a4a13.telemetry
/corrected-covered-positives.json
