Checks:
    '*,
    -android-*,
    -altera-struct-pack-align,
    -cppcoreguidelines-avoid-goto,
    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-no-malloc,
    -cppcoreguidelines-owning-memory,
    -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
    -cppcoreguidelines-pro-bounds-constant-array-index,
    -cppcoreguidelines-pro-bounds-pointer-arithmetic,
    -cppcoreguidelines-pro-type-const-cast,
    -cppcoreguidelines-pro-type-cstyle-cast,
    -cppcoreguidelines-pro-type-reinterpret-cast,
    -cppcoreguidelines-pro-type-union-access,
    -cppcoreguidelines-pro-type-vararg,
    -cppcoreguidelines-special-member-functions,
    -fuchsia-default-arguments-calls,
    -fuchsia-overloaded-operator,
    -fuchsia-default-arguments-declarations,
    -fuchsia-statically-constructed-objects,
    -google-readability-todo,
    -google-runtime-references,
    -google-global-names-in-headers,
    -hicpp-uppercase-literal-suffix,
    -hicpp-no-array-decay,
    -llvm-header-guard,
    -llvmlibc-*,
    -misc-non-private-member-variables-in-classes,
    -modernize-use-nodiscard,
    -modernize-use-trailing-return-type,
    -modernize-use-nodiscard,
    -readability-magic-numbers,
    -readability-uppercase-literal-suffix,
    -bugprone-reserved-identifier,
    -cert-dcl37-c,
    -cert-dcl51-cpp'
CheckOptions:
  - { key: readability-identifier-naming.NamespaceCase,         value: CamelCase  }
  - { key: readability-identifier-naming.ClassCase,             value: CamelCase  }
  - { key: readability-identifier-naming.StructCase,            value: CamelCase  }

  - { key: readability-identifier-naming.ClassMemberCase,       value: camelBack  }
  - { key: readability-identifier-naming.ClassMemberSuffix,     value: __         }
  - { key: readability-identifier-naming.ClassConstantCase,     value: camelBack  }
  - { key: readability-identifier-naming.ClassConstantSuffix,   value: __         }

  - { key: readability-identifier-naming.StaticVariableCase,    value: camelBack  }
  - { key: readability-identifier-naming.StaticVariableSuffix,  value: __         }

  - { key: readability-identifier-naming.MemberCase,            value: camelBack  }
  - { key: readability-identifier-naming.PrivateMemberCase,     value: camelBack  }
  - { key: readability-identifier-naming.PrivateMemberSuffix,   value: _          }
  - { key: readability-identifier-naming.ProtectedMemberCase,   value: camelBack  }
  - { key: readability-identifier-naming.ProtectedMemberSuffix, value: _          }

  - { key: readability-identifier-naming.FunctionCase,          value: camelBack  }
  - { key: readability-identifier-naming.VariableCase,          value: camelBack  }
  - { key: readability-identifier-naming.ParameterCase,         value: camelBack  }
  - { key: readability-identifier-naming.GlobalConstantCase,    value: UPPER_CASE }
  - { key: readability-identifier-naming.EnumConstantCase,      value: UPPER_CASE }
