/.idea/*
/.vs/*
/cmake-build-*

CMakeLists.txt.user
CMakeSettings.json
settings.json
install_manifest.txt
/build*
/build/

/kdev4/*
*.kdev4

*.edited
*~
.*.swp
*.autosave
*.orig
*.user
*.cbp
*.tc
*.bt
*.pyc
.DS_Store
