.idea/
.venv/
.vs/
.vscode/

/.wiki/

settings.json
/naosdk

*.edited
*~
.*.swp
*.autosave
*.orig
*.user
*.cbp
*.tc
*.bt
*.pyc
.DS_Store
.dir-locals.el
.envrc
default.nix

target/

.nao_cargo_home
.REMOTE_WORKSPACE

rust-toolchain.toml

site/
