[workspace]
members = [
    "crates/aliveness",
    "crates/approx_derive",
    "crates/argument_parsers",
    "crates/audio",
    "crates/ball_filter",
    "crates/bevyhavior_simulator",
    "crates/buffered_watch",
    "crates/calibration",
    "crates/code_generation",
    "crates/communication",
    "crates/constants",
    "crates/context_attribute",
    "crates/control",
    "crates/coordinate_systems",
    "crates/energy_optimization",
    "crates/filtering",
    "crates/framework",
    "crates/geometry",
    "crates/hardware",
    "crates/hulk",
    "crates/hulk_widgets",
    "crates/hulk_imagine",
    "crates/hulk_manifest",
    "crates/hulk_nao",
    "crates/hulk_replayer",
    "crates/hulk_webots",
    "crates/kinematics",
    "crates/linear_algebra",
    "crates/motionfile",
    "crates/nao",
    "crates/nao_camera",
    "crates/object_detection",
    "crates/opn",
    "crates/parameter_tester",
    "crates/parameters",
    "crates/path_serde",
    "crates/path_serde_derive",
    "crates/projection",
    "crates/ransac",
    "crates/repository",
    "crates/source_analyzer",
    "crates/spl_network",
    "crates/spl_network_messages",
    "crates/types",
    "crates/vision",
    "crates/walking_engine",
    "tools/annotato",
    "tools/camera_matrix_extractor",
    "tools/depp",
    "tools/fanta",
    "tools/hula/types",
    "tools/pepsi",
    "tools/twix",
    "tools/widget_gallery",
]
resolver = "2"
# HuLA and Aliveness are built independently by yocto
exclude = ["tools/aliveness", "tools/breeze", "tools/hula"]

[workspace.package]
version = "0.1.0"
edition = "2021"
license = "GPL-3.0-only"
homepage = "https://github.com/hulks/hulk"

[workspace.dependencies]
aliveness = { path = "crates/aliveness" }
alsa = "0.7.0"
approx = "0.5.1"
approx_derive = { path = "crates/approx_derive" }
argument_parsers = { path = "crates/argument_parsers" }
audio = { path = "crates/audio" }
awaitgroup = "0.6.0"
ball_filter = { path = "crates/ball_filter" }
base64 = "0.21.0"
bat = { version = "0.23.0", default-features = false, features = [
    "regex-onig",
    "paging",
] }
bevy = { version = "0.14.0", default-features = false }
bincode = "1.3.3"
bindgen = "0.69.4"
buffered_watch = { path = "crates/buffered_watch" }
build_script_helpers = { path = "crates/build_script_helpers" }
byteorder = "1.4.3"
calibration = { path = "crates/calibration" }
chrono = "0.4.23"
clap = { version = "4.2.4", features = ["derive"] }
clap_complete = "4.2.1"
code_generation = { path = "crates/code_generation" }
color-eyre = "0.6.2"
communication = { path = "crates/communication" }
compiled-nn = "0.12.0"
constants = { path = "crates/constants" }
context_attribute = { path = "crates/context_attribute" }
control = { path = "crates/control" }
convert_case = "0.6.0"
coordinate_systems = { path = "crates/coordinate_systems" }
ctrlc = { version = "3.2.3", features = ["termination"] }
derive_more = "0.99.17"
dirs = "5.0.1"
eframe = { version = "0.29.1", features = ["persistence"] }
egui = { version = "0.29.1", features = ["persistence"] }
egui_dock = { version = "0.14.0", features = ["serde"] }
egui_extras = { version = "0.29.1", features = ["image"] }
egui_plot = "0.29.0"
energy_optimization = { path = "crates/energy_optimization" }
enum-iterator = "1.4.1"
enum_dispatch = "0.3.11"
fast_image_resize = "2.6.0"
fern = { version = "0.6.1", features = ["colored"] }
filtering = { path = "crates/filtering" }
framework = { path = "crates/framework" }
futures-util = "0.3.24"
geometry = { path = "crates/geometry" }
gilrs = "0.10.1"
glob = "0.3.0"
hardware = { path = "crates/hardware" }
home = "0.5.4"
hula-types = { path = "tools/hula/types" }
hulk = { path = "crates/hulk" }
hulk_manifest = { path = "crates/hulk_manifest" }
hulk_widgets = { path = "crates/hulk_widgets" }
i2cdev = "0.5.1"
image = "0.24.4"
indicatif = "0.17.2"
itertools = "0.10.5"
ittapi = "0.3.3"
kinematics = { path = "crates/kinematics" }
lazy_static = "1.4.0"
levenberg-marquardt = "0.13.0"
libc = "0.2.137"
linear_algebra = { path = "crates/linear_algebra" }
log = "0.4.17"
mcap = "0.9.2"
mlua = { version = "0.8.7", features = [
    "luajit",
    "serialize",
    "parking_lot",
    "vendored",
] }
motionfile = { path = "crates/motionfile" }
nalgebra = { version = "0.32.2", features = ["serde", "serde-serialize"] }
nao = { path = "crates/nao" }
nao_camera = { path = "crates/nao_camera" }
ndarray = { version = "0.15.6", features = ["serde"] }
nix = { version = "0.28", features = ["ioctl"] }
nucleo-matcher = "0.3.1"
num-derive = "0.4.2"
num-traits = "0.2"
object_detection = { path = "crates/object_detection" }
once_cell = "1.19.0"
openvino = { version = "0.7.2", features = ["runtime-linking"] }
opn = { path = "crates/opn" }
opusfile-ng = "0.1.0"
ordered-float = "3.1.0"
parameters = { path = "crates/parameters" }
parking_lot = "0.12.1"
path_serde = { path = "crates/path_serde" }
path_serde_derive = { path = "crates/path_serde_derive" }
petgraph = "0.6.2"
png = "0.17.6"
prettyplease = "0.2.19"
proc-macro-error = "1.0.4"
proc-macro2 = { version = "1.0.44", features = ["span-locations"] }
projection = { path = "crates/projection" }
quote = "1.0.21"
rand = "0.8.5"
rand_chacha = { version = "0.3.1", features = ["serde1"] }
rand_distr = "0.4.3"
ransac = { path = "crates/ransac" }
regex = "1.6.0"
repository = { path = "crates/repository" }
reqwest = { version = "0.11.23", features = ["blocking"] }
rmp-serde = "*"
rustfft = "6.0.1"
scenario = { path = "crates/scenario" }
semver = "1.0.20"
serde = { version = "1.0.214", features = ["derive", "rc"] }
serde-transcode = "1.1.1"
serde_bytes = "0.11.8"
serde_derive = "1.0.214"
serde_ignored = "0.1.10"
serde_json = "1.0.107"
serde_test = "1.0.152"
sha2 = "0.10.8"
simba = "0.8.1"
smallvec = "1.9.0"
source_analyzer = { path = "crates/source_analyzer" }
spl_network = { path = "crates/spl_network" }
spl_network_messages = { path = "crates/spl_network_messages" }
splines = { version = "4.2.0", features = ["serde"] }
structopt = "0.3.26"
syn = { version = "2.0.60", features = ["full", "extra-traits"] }
systemd = "0.10.0"
tempfile = "3.3.0"
thiserror = "1.0.37"
threadbound = "0.1.6"
tokio = { version = "1.21.2", features = ["full"] }
tokio-tungstenite = "0.19.0"
tokio-util = "0.7.4"
toml = "0.8.8"
toposort-scc = "0.5.4"
types = { path = "crates/types" }
uuid = { version = "1.1.2", features = ["v4"] }
v4l = { version = "0.12.1", git = "https://github.com/HULKs/libv4l-rs", rev = "be65819073514b193d082dd37dbcc2cfac3f6183" }
vision = { path = "crates/vision" }
walkdir = "2.3.2"
walking_engine = { path = "crates/walking_engine" }
watch = "0.2.3"
webots = { version = "0.8.0" }
zbus = { version = "3.7.0" }

[patch.crates-io]
# Pinned to forked serde version since https://github.com/serde-rs/serde/pull/2513 is not merged
serde = { git = "https://github.com/HULKs/serde.git", rev = "73d5e8e404a874ad90023810d634b985bef19478" }
# Pinned to forked serde version since https://github.com/serde-rs/serde/pull/2513 is not merged
serde_derive = { git = "https://github.com/HULKs/serde.git", rev = "73d5e8e404a874ad90023810d634b985bef19478" }

[profile.incremental]
inherits = "release"
incremental = true

[profile.release-with-debug]
inherits = "release"
debug = true
