[package]
edition = "2021"
license = "GPL-3.0-only"
name = "hulk"
version = "0.1.0"

[workspace]
members = [
  "crates/communication",
  "crates/module_attributes",
  "crates/module_derive",
  "crates/nao",
  "crates/repository",
  "crates/serialize_hierarchy",
  "crates/serialize_hierarchy_derive",
  "crates/spl_network",
  "crates/types",
  "crates/uvcvideo",
  "tools/camera_matrix_extractor",
  "tools/depp",
  "tools/fanta",
  "tools/hula",
  "tools/pepsi",
  "tools/twix",
]

[workspace.dependencies]
alsa = { version = "0.6.0" }
anyhow = "1.0.65"
approx = "0.5.1"
awaitgroup = "0.6.0"
base64 = "0.13.0"
bindgen = "0.61.0"
byteorder = "1.4.3"
chrono = "0.4.22"
clap = { version = "4.0.22", features = ["derive"] }
clap_complete = "4.0.5"
communication = { path = "crates/communication" }
compiled-nn = "0.10.0"
convert_case = "0.6.0"
ctrlc = { version = "3.2.3", features = ["termination"] }
dbus = "0.9.6"
eframe = { version = "0.19.0", features = ["persistence"] }
egui_extras = { version = "0.19.0", features = ["image"] }
epoll = "4.3.1"
fern = { version = "0.6.1", features = ["colored"] }
futures = "0.3.24"
futures-util = "0.3.24"
fuzzy-matcher = "0.3.7"
hostname = "0.3.1"
i2cdev = "0.5.1"
image = "0.24.4"
ipnetwork = "0.19.0"
itertools = "0.10.5"
libc = "0.2.133"
log = "0.4.17"
mlua = { version = "0.8.3", features = ["luajit", "serialize"] }
module_attributes = { path = "crates/module_attributes" }
module_derive = { path = "crates/module_derive" }
nalgebra = { version = "0.31.1", features = ["serde", "serde-serialize"] }
nao = { path = "crates/nao" }
nix = "0.25.0"
ordered-float = "3.1.0"
parking_lot = "0.12.1"
petgraph = "0.6.2"
pnet = "0.31.0"
pnet_datalink = "0.31.0"
png = "0.17.6"
proc-macro-error = "1.0.4"
proc-macro2 = "1.0.44"
quote = "1.0.21"
rand = "0.8.5"
rand_distr = "0.4.3"
regex = "1.6.0"
repository = { path = "crates/repository" }
rmp = "0.8.11"
rmp-serde = "1.1.1"
rust-ini = "0.18.0"
rustfft = "6.0.1"
serde = { version = "1.0.145", features = ["derive"] }
serde_json = "1.0.85"
serialize_hierarchy = { path = "crates/serialize_hierarchy" }
serialize_hierarchy_derive = { path = "crates/serialize_hierarchy_derive" }
smallvec = "1.9.0"
spl_network = { path = "crates/spl_network" }
structopt = "0.3.26"
syn = { version = "1.0.101", features = ["full", "extra-traits"] }
systemd = "0.10.0"
tempfile = "3.3.0"
tokio = { version = "1.21.2", features = ["full"] }
tokio-tungstenite = "0.17.2"
tokio-util = "0.7.4"
toml = "0.5.9"
types = { path = "crates/types" }
uuid = { version = "1.1.2", features = ["v4"] }
uvcvideo = { path = "crates/uvcvideo" }
v4l = { version = "0.12.1", git = "https://github.com/HULKs/libv4l-rs", branch = "hulksChanges" }
walkdir = "2.3.2"
webots = { version = "0.5.0" }

[dependencies]
alsa = { workspace = true, optional = true }
anyhow = { workspace = true }
approx = { workspace = true }
awaitgroup = { workspace = true }
base64 = { workspace = true }
byteorder = { workspace = true }
compiled-nn = { workspace = true }
ctrlc = { workspace = true }
fern = { workspace = true }
futures-util = { workspace = true }
i2cdev = { workspace = true }
image = { workspace = true }
itertools = { workspace = true }
log = { workspace = true }
mlua = { workspace = true, optional = true }
module_derive = { workspace = true }
nalgebra = { workspace = true }
ordered-float = { workspace = true }
parking_lot = { workspace = true }
png = { workspace = true }
rand = { workspace = true }
rand_distr = { workspace = true }
rustfft = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
serialize_hierarchy = { workspace = true }
smallvec = { workspace = true }
spl_network = { workspace = true }
structopt = { workspace = true }
tokio = { workspace = true }
tokio-tungstenite = { workspace = true }
tokio-util = { workspace = true }
types = { workspace = true }
uvcvideo = { workspace = true, optional = true }
v4l = { workspace = true, optional = true }
webots = { workspace = true, optional = true }

[build-dependencies]
module_attributes = { path = "crates/module_attributes" }
petgraph = { workspace = true }
proc-macro2 = { workspace = true }
quote = { workspace = true }
syn = { workspace = true }
walkdir = { workspace = true }

[features]
behavior_simulator = ["mlua"]
nao = ["uvcvideo", "v4l", "alsa"]

[[bin]]
name = "nao"
required-features = ["nao"]

[[bin]]
name = "webots"
required-features = ["webots"]

[[bin]]
name = "behavior_simulator"
required-features = ["behavior_simulator"]

[profile.incremental]
inherits = "release"
incremental = true
