# opponent = "B-Human"
# phase = "second-half"
location = "smd"
wifi = "SPL_A"
base = "main"
branches = [
  "julianschuler/example-branch",
]
assignments = [
  "33:1",
]
substitutions = [
  # "34:1",
]
with_communication = false

[recording_intervals]
Control = 1
Vision
SplNetwork = 1
# ObjectDetection = 1
# Audio = 1
