# Mate
pyqt5 >=5.9.2,<=5.10.1
setproctitle >=1.1.8,<=1.1.10
pyqtgraph ==0.10.0
opencv-contrib-python
transforms3d
scipy

# Aliveness scripts
pyyaml >=3.12,<=3.13
netifaces ==0.10.6
twisted >=16.6.0,<=18.4.0

# hardware status
tabulate >=0.8.1,<=0.8.2

# shutdownAll script
termcolor
