[package]
name = "hardware"
version.workspace = true
edition.workspace = true
license.workspace = true
homepage.workspace = true

[dependencies]
color-eyre = { workspace = true }
hula_types = { workspace = true }
types = { workspace = true }
booster_low_level_interface.workspace = true