[Unit]
Description=HULK Service
Requires=lola.service
After=lola.service

[Service]
ExecStart=/usr/bin/launchHULK
StandardOutput=journal
Type=simple
User=nao
Group=nao
LimitCORE=infinity
WorkingDirectory=/home/nao/hulk

[Install]
WantedBy=default.target

