[Unit]
Description=HULK gdbserver Service
Requires=lola.service
After=lola.service
Conflicts=hulk.service

[Service]
ExecStart=/usr/bin/gdbserver 0.0.0.0:1337 /home/nao/bin/hulk
StandardOutput=journal
Type=simple
User=nao
Group=nao
LimitCORE=infinity
WorkingDirectory=/home/nao/hulk
