[project]
name = "mujoco-env"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "ipykernel>=6.29.5",
    "mediapy>=1.2.2",
    "mujoco>=2.3.5",
    "numpy>=2.1.2",
    "scipy>=1.14.1",
    "moviepy>=1.0.3",
    "stable-baselines3>=2.3.2",
    "neovim>=0.3.1",
    "gymnasium[classic-control,mujoco,mujoco-py]",
]

[tool.ruff]
target-version = "py310"
line-length = 80
fix = true

[tool.ruff.lint]
select = [
    # flake8-2020
    "YTT",
    # flake8-bandit
    "S",
    # flake8-bugbear
    "B",
    # flake8-builtins
    "A",
    # flake8-comprehensions
    "C4",
    # flake8-debugger
    "T10",
    # flake8-simplify
    "SIM",
    # isort
    "I",
    # mccabe
    "C90",
    # pycodestyle
    "E",
    "W",
    # pyflakes
    "F",
    # pygrep-hooks
    "PGH",
    # pyupgrade
    "UP",
    # ruff
    "RUF",
    # tryceratops
    "TRY",
]
ignore = [
    # LineTooLong
    "E501",
    # DoNotAssignLambda
    "E731",
]

[tool.ruff.lint.per-file-ignores]
"tests/*" = ["S101", "S603"]

[tool.ruff.lint.isort]
required-imports = ["from __future__ import annotations"]

[tool.uv]
dev-dependencies = ["pytest>=8.3.3", "ruff>=0.7.3"]
