[Unit]
Description=HULK Service

[Service]
ExecStart=/usr/bin/launchHULK
ExecStop=sudo /usr/bin/podman kill hulk
Environment="RUST_BACKTRACE=1"
TimeoutStopSec=10
WorkingDirectory=/home/booster/hulk
Environment=RUST_LOG=DEBUG
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
