[Unit]
Description=HULK Service

[Service]
WorkingDirectory=/home/booster/hulk
Environment="RUST_BACKTRACE=1"
Environment="RUST_LOG=DEBUG"
ExecStart=/usr/bin/launchHULK --enable-file-logging
ExecStop=/usr/bin/sudo /usr/bin/podman kill hulk
TimeoutStopSec=10

[Install]
WantedBy=default.target
