[Unit]
Description=HULK Application Service
Requires=hulk-runtime.service
After=hulk-runtime.service

[Service]
Type=simple
ExecStartPre=/usr/local/bin/podman wait --condition running hulk
ExecStart=/usr/bin/launch-hulk
ExecStop=/usr/local/bin/podman exec hulk pkill -SIGTERM hulk
KillMode=control-group
KillSignal=SIGTERM
TimeoutStopSec=10
Restart=on-failure

[Install]
WantedBy=multi-user.target
