name: CI Image
on:
  workflow_dispatch

jobs:
  build:
    name: Build
    runs-on:
      - self-hosted
      - v3
    steps:
      - uses: actions/checkout@v4
      - run: docker build --tag 134.28.57.223:5000/hulk:1.80.0 tools/ci/github-runners
      - run: docker push 134.28.57.223:5000/hulk:1.80.0
