name: Rust
on:
  pull_request:
  merge_group:
    types: [checks_requested]
env:
  CARGO_HOME: /__w/hulk/cargo
  CARGO_TARGET_DIR: /__w/hulk/target
  CARGO_TERM_COLOR: always
jobs:
  check:
    name: Check
    runs-on:
      - self-hosted
      - v3
    container:
      image: 134.28.57.223:5000/hulk
      options: --user=1000:1000
    steps:
      - uses: actions/checkout@v3
        with:
          lfs: true
      - name: Check
        run: |
          ./pepsi clippy --workspace
  check-cargo-lock:
    name: Check Cargo.lock
    strategy:
      matrix:
        path:
          [
            .,
            tools/aliveness,
            tools/hula,
          ]
    runs-on:
      - self-hosted
      - v3
    container:
      image: 134.28.57.223:5000/hulk
      options: --user=1000:1000
    steps:
      - uses: actions/checkout@v3
        with:
          lfs: true
      - name: Check
        run: |
          cd ${{ matrix.path }}
          cargo update --locked --workspace
  check-parameters:
    name: Check parameters
    runs-on:
      - self-hosted
      - v3
    container:
      image: 134.28.57.223:5000/hulk
      options: --user=1000:1000
    steps:
      - uses: actions/checkout@v3
        with:
          lfs: true
      - name: Check
        run: |
          cargo run --manifest-path=crates/parameter_tester/Cargo.toml
  format:
    name: Format
    runs-on:
      - self-hosted
      - v3
    container:
      image: 134.28.57.223:5000/hulk
      options: --user=1000:1000
    steps:
      - uses: actions/checkout@v3
        with:
          lfs: true
      - name: Check
        run: |
          cargo fmt --check
  test:
    name: Test
    runs-on:
      - self-hosted
      - v3
    container:
      image: 134.28.57.223:5000/hulk
      options: --user=1000:1000
    steps:
      - uses: actions/checkout@v3
        with:
          lfs: true
      - name: Test
        run: |
          cargo test --all-features --workspace
  build:
    name: Build
    strategy:
      fail-fast: true
      matrix:
        target: [nao, replayer, webots]
        profile: [release, dev]
    runs-on:
      - self-hosted
      - v3
    container:
      image: 134.28.57.223:5000/hulk
      options: --user=1000:1000
    steps:
      - uses: actions/checkout@v3
        with:
          lfs: true
      - name: Build
        run: |
          ln -s /ci/.naosdk naosdk
          ./pepsi build --target ${{ matrix.target }} --profile ${{ matrix.profile }} --no-sdk-installation
  build_tools:
    name: Build
    strategy:
      matrix:
        path:
          [
            aliveness,
            annotato,
            behavior_simulator,
            camera_matrix_extractor,
            depp,
            fanta,
            hula,
            pepsi,
            twix,
          ]
    runs-on:
      - self-hosted
      - v3
    container:
      image: 134.28.57.223:5000/hulk
      options: --user=1000:1000
    steps:
      - uses: actions/checkout@v3
        with:
          lfs: true
      - name: Build
        run: |
          cd tools/${{ matrix.path }}
          cargo build --release
