name: Rust
on:
  pull_request:
  merge_group:
    types: [checks_requested]
env:
  CARGO_HOME: /__w/hulk/cargo
  CARGO_TARGET_DIR: /__w/hulk/target
  CARGO_TERM_COLOR: always
  NAOSDK_HOME: /__w/hulk/naosdk
  NAOSDK_AUTOMATIC_YES: 1

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  check:
    name: Check
    runs-on:
      - self-hosted
      - v3
    container:
      image: 134.28.57.223:5000/hulk:1.78.0
      options: --user=1000:1000
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true
      - name: Check
        run: |
          ./pepsi clippy --workspace

  check-cargo-lock:
    name: Check Cargo.lock
    strategy:
      matrix:
        path:
          [
            .,
            tools/aliveness,
            tools/hula,
          ]
    runs-on:
      - self-hosted
      - v3
    container:
      image: 134.28.57.223:5000/hulk:1.78.0
      options: --user=1000:1000
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true
      - name: Check
        run: |
          cd ${{ matrix.path }}
          cargo update --locked --workspace

  check-parameters:
    name: Check parameters
    runs-on:
      - self-hosted
      - v3
    container:
      image: 134.28.57.223:5000/hulk:1.78.0
      options: --user=1000:1000
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true
      - name: Check
        run: |
          cargo run --manifest-path=crates/parameter_tester/Cargo.toml

  format:
    name: Format
    runs-on:
      - self-hosted
      - v3
    container:
      image: 134.28.57.223:5000/hulk:1.78.0
      options: --user=1000:1000
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true
      - name: Check
        run: |
          cargo fmt --check

  test:
    name: Test
    runs-on:
      - self-hosted
      - v3
    container:
      image: 134.28.57.223:5000/hulk:1.78.0
      options: --user=1000:1000
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true
      - name: Test
        run: |
          cargo test --all-features --workspace

  build:
    name: Build
    strategy:
      fail-fast: true
      matrix:
        target: [behavior_simulator, imagine, nao, replayer, webots]
        profile: [release, dev]
    runs-on:
      - self-hosted
      - v3
    container:
      image: 134.28.57.223:5000/hulk:1.78.0
      options: --user=1000:1000
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true
      - name: Build
        run: |
          ./pepsi build --target ${{ matrix.target }} --profile ${{ matrix.profile }}

  build_tools:
    name: Build
    strategy:
      matrix:
        path:
          [
            aliveness,
            annotato,
            camera_matrix_extractor,
            depp,
            fanta,
            hula,
            pepsi,
            twix,
          ]
    runs-on:
      - self-hosted
      - v3
    container:
      image: 134.28.57.223:5000/hulk:1.78.0
      options: --user=1000:1000
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true
      - name: Build
        run: |
          cd tools/${{ matrix.path }}
          cargo build --release
